html {
  font-size: 62.5%;
}

body {
//  background: $light-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 300px;
  margin-top: 20px;
}

button {
  cursor: pointer;
  height: 40px;
}

button:disabled {
  cursor: default;
}
